body{
    font-family: 'Times New Roman', Times, sans-serif;
    background-color: lightblue;
}

.space{
    height: 20px;
}

.home{
    text-align:center;
    font-size: 40px;
    font-weight: bold;
    color:blue;
    display: block;
    margin: auto;
}

.title{
    font-size:80px;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

.recipe{
    color: darkgreen;
}

.image{
    width: 800px;
    height: auto;
    border: 2000px;
    border-radius: 1000px;
    text-align: center;
    display: block;
    margin: auto;
}

.inside{
    width: 400px;
    height: auto;
}

.hamburger,
.spaghetti,
.pancakes{
    text-align: justify;
}

.foot{
    text-align: center;
    display: block;
    margin: auto;
    font-size: 20px;
    color:red
}